Source: openmediavault-virtualbox
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9), dh-systemd
Standards-Version: 3.9.6
XB-Plugin-Section: virtualization

Package: openmediavault-virtualbox
Architecture: all
Depends: linux-headers-686-pae | linux-headers-amd64,
         makepasswd,
         openmediavault (>= 3.0.25),
         phpvirtualbox,
         virtualbox,
         virtualbox-ext-pack | virtualbox-ext-pack-installer,
         ${misc:Depends}
Description: VirtualBox plugin for OpenMediaVault.
 VirtualBox is a powerful x86 and AMD64/Intel64
 virtualization product.
